body {
    @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    background-color: #b08968;
    line-height: 1.5; 
    margin: 0; 
    padding: 0; 
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
        "heading_1 heading_1"
        "navbar navbar"
        "paragraph_1 paragraph_1"
        "paragraph_3 paragraph_3"
        "footer footer"
    }
    
    .heading_1 {
        grid-area: heading_1;
        background-color: #b08968;
        text-align: center;
        font-family: "Courier Prime", monospace;
        padding: 95m;
        color: #ffffff;
    }
    
    .navbar {
        grid-area: navbar;
        background-color: #b08968;
        text-align: center;
        font-family: "Courier Prime", monospace;
        color: #ffffff;
        padding: 50px;
    }
    
    .navbar ul {
    list-style-type: none;
    display: inline;
    }
    
    
    .navbar li {
        display: inline;
        padding: 35px;
    }
    
    .navbar a {
        padding: 25px;
        background-color: #ddb892;
        color: #ffffff;
        text-decoration: none;
    }


    .paragraph_1 {
        grid-area: paragraph_1;
        background-color: #ddb892;
        padding: 45px;
        font-family: "Courier Prime", monospace;
        font-size: large;
        text-align: center;
        color: #ffffff;
    }
    
    
    .paragraph_3 {
        grid-area: paragraph_3;
        background-color: #ddb892;
        padding: 45px;
        font-family: "Courier Prime", monospace;
        font-size: large;
        text-align: center;
        color: #ffffff;
    }


    .footer {
        grid-area: footer;
        background-color: #b08968;
        text-align: center;
        font-family: "Courier Prime", monospace;
        font-size: large;
        color: #ffffff;
        padding: 25px;
        }